# Maven / Java
/target/
!.mvn/wrapper/maven-wrapper.jar
**/target/
**/pom.xml.tag
**/pom.xml.releaseBackup
**/pom.xml.versionsBackup
**/pom.xml.next
**/dependency-reduced-pom.xml
**/buildNumber.properties
**/release.properties

# IDEs
.idea/
*.iml
*.ipr
*.iws
*.project
*.classpath
*.settings/
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

## Docker
#docker-compose.yml
#Dockerfile